//Variables de tipo de letra
$font-family: 'Helvetica Neue', sans-serif;

//Variables de colores de letras
$font-color-clear: white;
$font-color-dark: #0A0C1A;
$font-color-results: #0A0C1A;
$font-color-your-results: #3fa7ca;

//Variables de colores de fondo
$nav-background-color: #0A0C1A;
$header-background-color: #3C4455;
$body-background-color: #D0D0D0;
$footer-background-color: #15212F;

//Variables de colores varios
$border-color: rgb(185, 185, 185);
