@use "var" as *;

#myProfile{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;

    h3{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #myProfileDisclaimer{
        font-size: 12px;
    }
    & > #psn_user-input {
        margin-top: 10px;
        justify-content: center;
        height: 30px;
    
        & > input {
            height: 24px;
            width: 150px;

        }
        & > button {
          padding-left: 20px;
          padding-right: 20px;
          height: 100%;
          background-color: $nav-background-color;
          color: $font-color-clear;
          border: $header-background-color solid 1px;
          border-radius: 3px;
          
        }
    }

    & > #profileResponse {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        align-content: center;

        & > #tableResults{
            margin-top: 10px;
            align-self: center;
            & > thead{
                color: $font-color-dark;
            }
            .tdHeader{
                text-align: right;
                color: $font-color-dark;
                font-style: italic;
                font-weight: 300; 
            }
            .tdData{
                text-align: left;
                color: $font-color-results;
                font-weight: 600; 
            }
        }
    }
}