section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

#section_video > video {
  width: 480;
  height: 270;
}

section > div {
  width: 47%;
}

section > div > p {
  font-size: 14px;
  color: #8a8c8d;
  margin-top: 5px;
  margin-bottom: 5px;
}

section > div > h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3rem;
  color: #1b6456;
  margin-bottom: 0px;
  margin-top: 25;
}

section > div > #section-email {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

section > div > #section-email > #email-input {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

section > div > #section-email > label {
  color: lightblue;
}

section > div > #section-email > #email-input > input {
  font-size: 15px;
  padding: 18px;
  border: 1px solid #d7d9dc;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: none;
}

section > div > #section-email > #email-input > input::placeholder {
  color: #a4aab0;
}

section > div > #section-email > #email-input > button {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #1b6456;
  background-color: #1b6456;
  color: white;
  font-size: 15px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

