@use "variables" as *;

#howto_title {
    text-align: center;

    h3 {
        color: $verde-feo;
        font-size: 40px;
        font-family: $fuente-abril;
        margin: 0;
        margin-top: 20px;
        text-align: center;
    }
    p {
        color: $color-texto;
        margin: 0;
        margin-top: 10px;
        text-align: center;

        a {
            color: $verde-bonito;
        }
    }
    button {
        font-size: 16px;
        color: $blanco;
        background-color: $verde-feo;
        border: none;
        border-radius: 5px;
        padding: 12px;
        font-weight: 600;
        font-family: $fuente-roboto;
        margin-top: 10px;
      }
}

#howto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;

    .steps {
        border: 1px $color-texto solid;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;

        h1 {
            color: $verde-feo;
            font-size: 30px;
            font-family: $fuente-abril;
            margin: 0;
            margin-top: 20px;
            text-align: center;
        }
    
        p {
            color: $color-texto;
            margin: 0;
            margin-top: 10px;
            text-align: left;
        }
    
        a {
            color: $verde-bonito;
        }
    }

    img {
        width: 250px;
        height: 300px;
    }
}